@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  /* ### Neutral */

  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

main {
  max-width: 1440px;
  min-height: 100vh;
  background-color: var(--Cream);
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.expenseFrame {
  width: 100%;
  max-width: 350px;
}

.topFrame {
  padding: 30px;
  background-color: var(--Soft-red);
  margin-bottom: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
}

.balanceText {
  font-size: 12px;
  color: var(--Very-pale-orange);
}

.myAccount {
  font-size: 18px;
  color: var(--Very-pale-orange);
}

.mainContentFrame {
  padding: 30px;
  border-radius: 12px;
  background-color: var(--Very-pale-orange);
}

.subtitle {
  font-size: 15px;
  color: var(--Dark-brown);
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

.chartInfo {
  display: flex;
  align-items: flex-end;
  padding: 30px 0;
  border-bottom: 1px solid var(--Cyan);
  margin-bottom: 20px;
}

.barchart {
  width: 30px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.barchart:hover::after {
  content: attr(data-tooltip);
  font-size: 12px;
  position: absolute;
  top: -35px;
  width: max-content;
  padding: 5px;
  background-color: var(--Dark-brown);
  color: var(--Cream);
  border-radius: 3px;
}

.day {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  left: 5px;
}
.mon {
  height: 30px;
  background-color: var(--Soft-red);
}

.tue {
  height: 50px;
  background-color: var(--Soft-red);
}

.wed {
  height: 105px;
  background-color: var(--Cyan);
}

.thur {
  height: 50px;
  background-color: var(--Cream);
}

.fri {
  height: 42px;
  background-color: var(--Soft-red);
}

.sat {
  height: 85px;
  background-color: var(--Soft-red);
}

.sun {
  height: 35px;
  background-color: var(--Soft-red);
  margin-right: 0;
}

.totalExpense {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "DM Sans", sans-serif;
  font-size: 400;
}

.leftSide p {
  font-size: 10px;
  color: var(--Cyan);
}

.leftSide h2 {
  font-size: 24px;
}

.rightSide {
  text-align: right;
}

.index {
  font-size: 12px;
  color: var(--Dark-brown);
  margin-top: 10px;
}

.duration {
  font-size: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .logo {
    width: 50px;
  }

  .expenseFrame {
    max-width: 300px;
  }

  .subtitle {
    font-size: 20px;

    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: var(--Dark-brown);
  }

  .barchart {
    width: 50px;
    margin-right: 10px;
  }
}
